<a href="https://colab.research.google.com/github/chandrusrini679/assignment-2/blob/main/task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import plotly.express as px 
import numpy as np

In [2]:
df=px.data.gapminder()
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [3]:
df1=px.data.gapminder().query("country == 'India'or country == 'China' ")
df1

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
288,China,Asia,1952,44.00000,556263527,400.448611,CHN,156
289,China,Asia,1957,50.54896,637408000,575.987001,CHN,156
290,China,Asia,1962,44.50136,665770000,487.674018,CHN,156
291,China,Asia,1967,58.38112,754550000,612.705693,CHN,156
292,China,Asia,1972,63.11888,862030000,676.900092,CHN,156
293,China,Asia,1977,63.96736,943455000,741.237470,CHN,156
294,China,Asia,1982,65.52500,1000281000,962.421381,CHN,156
295,China,Asia,1987,67.27400,1084035000,1378.904018,CHN,156
296,China,Asia,1992,68.69000,1164970000,1655.784158,CHN,156
297,China,Asia,1997,70.42600,1230075000,2289.234136,CHN,156
298,China,Asia,2002,72.02800,1280400000,3119.280896,CHN,156
299,China,Asia,2007,72.96100,1318683096,4959.114854,CHN,156
696,India,Asia,1952,37.37300,372000000,546.565749,IND,356
697,India,Asia,1957,40.24900,409000000,590.061996,IND,356
698,India,Asia,1962,43.60500,454000000,658.347151,IND,356
699,India,Asia,1967,47.19300,506000000,700.770611,IND,356
700,India,Asia,1972,50.65100,567000000,724.032527,IND,356
701,India,Asia,1977,54.20800,634000000,813.337323,IND,356
702,India,Asia,1982,56.59600,708000000,855.723538,IND,356
703,India,Asia,1987,58.55300,788000000,976.512676,IND,356
704,India,Asia,1992,60.22300,872000000,1164.406809,IND,356
705,India,Asia,1997,61.76500,959000000,1458.817442,IND,356
706,India,Asia,2002,62.87900,1034172547,1746.769454,IND,356
707,India,Asia,2007,64.69800,1110396331,2452.210407,IND,356

In [6]:
fig=px.bar(df1,x=df1["year"],y=df1["pop"],hover_name="country")
fig.show()

In [ ]:
import pandas as pd
DF= {'Name': ['Amit', 'Anil','Ravi'], 'RollNo' : [1,2,3]}
D1 = pd.DataFrame(DF)
D1

   Name  RollNo
0  Amit       1
1  Anil       2
2  Ravi       3

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s['a'])

1

In [ ]:
import pandas as pd

S1 = pd.Series(['NewDelhi', 'WashingtonDC', 'London', 'Paris'], index=['A', 'B', 'C', 'D'])

S1[1 : 3]

B    WashingtonDC
C          London
dtype: object

In [ ]:
import pandas as pd

S1=pd.Series()

print(pd.Series().empty)

True

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """

In [ ]:
import pandas as pd

S1=pd.Series([1,2,3,4])

S2=pd.Series([7,8])

S3=S1+S2

print(S3.size)

4

In [ ]:
import pandas as pd
DF= [{'a':10, 'b':20}, {'a':5, 'b':10, 'c':20},{'a':7, 'd':10, 'e':20}]
D1 = pd.DataFrame(DF)
D1

    a     b     c     d     e
0  10  20.0   NaN   NaN   NaN
1   5  10.0  20.0   NaN   NaN
2   7   NaN   NaN  10.0  20.0

In [ ]:
import pandas as pd

S1=pd.Series([1,2,31,4], index = ['a','b','c','d'])
S1

a     1
b     2
c    31
d     4
dtype: int64

In [ ]:
import pandas as pd

DF= [{'a':10, 'b':20}, {'a':5, 'b':10, 'c':20}]

D1 = pd.DataFrame(DF)
D1

    a   b     c
0  10  20   NaN
1   5  10  20.0

In [ ]:
import pandas as pd
S1=pd.Series([1,2,3,4])
S2=pd.Series([7,8])
print((S1+S2).count())

2

In [ ]:
import pandas as pd

import numpy as np

s = pd.Series(np.random.randn(2))

print (s.size)

2

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(2))
print(s.size)

2